<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generator.css') }}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="sidebar">
            <div class="logo-details">
                <i class='bx bxl-c-plus-plus icon'></i>
                <div class="logo_name">Adsgrow</div>
                <i class='bx bx-menu' id="btn"></i>
            </div>
            <ul class="nav-list">
                <li>
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Search...">
                    <span class="tooltip">Search</span>
                </li>
                <li>
                    <a href="{{ url_for('generator') }}">
                        <i class='bx bx-cart-alt'></i>
                        <span class="links_name">Generate</span>
                    </a>
                    <span class="tooltip">Generate</span>
                </li>
                <li>
                    <a href="{{ url_for('analytics') }}">
                        <i class='bx bx-grid-alt'></i>
                        <span class="links_name">Dashboard</span>
                    </a>
                    <span class="tooltip">Dashboard</span>
                </li>
                <li>
                    <a href="{{ url_for('profile') }}">
                        <i class='bx bx-user'></i>
                        <span class="links_name">User</span>
                    </a>
                    <span class="tooltip">User</span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bx-cog'></i>
                        <span class="links_name">Settings</span>
                    </a>
                    <span class="tooltip">Settings</span>
                </li>
                <li class="profile">
                    <div class="profile-details">
                        <img src="{{ url_for('static', filename='imgs/profile.jpg') }}" alt="profileImg">
                        <div class="name_job">
                            <div class="name">Nandeesh</div>
                            <div class="job">Full Stack Developer</div>
                        </div>
                    </div>
                    <i class='bx bx-log-out' id="log_out"></i>
                </li>
            </ul>
        </div>
    </header>

    <section class="home-section">
        <div class="text">Generator Page</div>
        <div class="home-content">
            <textarea id="prompt" placeholder="Enter your prompt here..."></textarea><br>

            <button id="submitbtn" type="submit" class="Generate-button" onclick="generateArt()">Generate Art</button><br><br>
            <div id="image-container">
              
            </div> <!-- This div will hold the generated image -->
        </div>
    </section>
    
      <div class="container my-4">
    <div class="svgContainer d-flex">
    
    <svg class="d-none" id="loadingGif" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;background:#fff" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
<g transform="rotate(0 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(30 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(60 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(90 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(120 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(150 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(180 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(210 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(240 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(270 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(300 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(330 50 50)">
  <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#000000">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
  </rect>
</g>
</svg>
      </div>
    <div class="row imageCont">
          
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
  
  submitbtn.addEventListener("click", (e) => {
    loadingGif.classList.toggle("d-none")
    e.preventDefault();
    const promptTxt = imgprompt.value;
    fetch("/generateimages/" + promptTxt)
    .then(response => response.json())
   .then(data => {
     loadingGif.classList.toggle("d-none")
     console.log(data);
     const images = data.data;
     const container = document.querySelector(".imageCont");
     let totalHtml = "";

     
     images.forEach(image => {
       let html = `<div class="col-md-4 my-2">
        <img width="340" src="${image.url}" class="img-responsive">
    </div>`;
       totalHtml += html;
     
     });
       container.innerHTML = totalHtml;
     });
     
   })
</script>
  
         

    <script>
        //   function generateArt() {
        //     var prompt = document.getElementById('prompt').value;
        //     var xhr = new XMLHttpRequest();
        //     xhr.open('POST', '/generate', true);
        //     xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        //     xhr.onreadystatechange = function () {
        //         if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        //             var responseData = JSON.parse(xhr.responseText);
        //             if (responseData.image_data) {
        //                 var imgElement = document.createElement('img');
        //                 imgElement.setAttribute('src', 'data:image/png;base64,' + responseData.image_data);
        //                 imgElement.setAttribute('alt', 'Generated Image');
        //                 var imageContainer = document.getElementById('image-container');
        //                 imageContainer.innerHTML = '';
        //                 imageContainer.appendChild(imgElement);
        //             }
        //         }
        //     };
        //     xhr.send('prompt=' + encodeURIComponent(prompt));
        // }
        //  $(document).ready(function () {
        //     // Handle form submission
        //     $('#generate-form').submit(function (event) {
        //         event.preventDefault(); // Prevent default form submission

        //         var prompt = $('#prompt').val(); // Get the prompt from the textarea

        //         // Make an AJAX request to generate the image
        //         $.ajax({
        //             url: '/generate',
        //             type: 'POST',
        //             contentType: 'application/json',
        //             data: JSON.stringify({
        //                 prompt: prompt
        //             }),
        //             success: function (response) {
        //                 // Decode the base64 image data
        //                 var base64_image = response.image_data;
        //                 var image_src = 'data:image/png;base64,' + base64_image;

        //                 // Update the image container with the decoded image
        //                 $('#image-container').html('<img src="' + image_src + '" alt="Generated Image">');
        //             },
        //             error: function (xhr, status, error) {
        //                 // Handle error
        //                 console.error(error);
        //             }
        //         });
        //     });
        // });


        // let sidebar = document.querySelector(".sidebar");
        // let closeBtn = document.querySelector("#btn");
        // let searchBtn = document.querySelector(".bx-search");

        // closeBtn.addEventListener("click", () => {
        //     sidebar.classList.toggle("open");
        //     menuBtnChange(); //calling the function(optional)
        // });

        // searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search icon
        //     sidebar.classList.toggle("open");
        //     menuBtnChange(); //calling the function(optional)
        // });

        // // following are the code to change sidebar button(optional)
        // function menuBtnChange() {
        //     if (sidebar.classList.contains("open")) {
        //         closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the icons class
        //     } else {
        //         closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the icons class
        //     }
        // }

        // function generateArt() {
        //     var prompt = document.getElementById('prompt').value;
        //     var xhr = new XMLHttpRequest();
        //     xhr.open('POST', '/generateimages', true);
        //     xhr.setRequestHeader('Content-Type', 'application/json');
        //     xhr.onreadystatechange = function () {
        //         if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        //             var responseData = JSON.parse(xhr.responseText);
        //             if (responseData.data) {
        //                 var images = responseData.data;
        //                 var container = document.getElementById('image-container');
        //                 container.innerHTML = ''; // Clear previous images
        //                 images.forEach(function (image) {
        //                     var imgElement = document.createElement('img');
        //                     imgElement.setAttribute('src', image.url);
        //                     imgElement.setAttribute('alt', 'Generated Image');
        //                     container.appendChild(imgElement); // Append each image
        //                 });
        //             }
        //         }
        //     };
        //     xhr.send(JSON.stringify({ prompt: prompt }));
        // }

        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", () => {
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        searchBtn.addEventListener("click", () => { // Sidebar open when you click on the search icon
            sidebar.classList.toggle("open");
            menuBtnChange(); //calling the function(optional)
        });

        // following are the code to change sidebar button(optional)
        function menuBtnChange() {
            if (sidebar.classList.contains("open")) {
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right"); //replacing the icons class
            } else {
                closeBtn.classList.replace("bx-menu-alt-right", "bx-menu"); //replacing the icons class
            }
        }
    </script>
</body>

</html>
