<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="{{ url_for('static', filename='script/signup.js') }}"></script>
    <script src="{{ url_for('static', filename='script/validation.js') }}"></script>
</head>
<body>
    <div>
        <div class="gooey"></div>
        <img src="{{ url_for('static', filename='imgs/login-img.png') }}" alt="832194821849238">
    </div>
    
    <div id="form1" class="form-container">
        <div class="center">
            <h1>Welcome</h1>
            <form id="signup" action="{{ url_for('signup') }}" method="post" onsubmit="return checkPassword(this)">
                <div class="txt_field">
                    <input type="text" name="email" id="mailPhone" required onkeyup="validateMailPhone()">
                    <span></span>
                    <label>Mail ID / Mobile Number</label>
                </div>

                <div class="txt_field">
                    <input type="password" name="password" id="password" required>
                    <span></span>
                    <label>Password</label>
                </div>

                <div class="txt_field">
                    <input type="password" name="confirm_password" id="passwordConfirm" required onkeyup="checkPassword(this.form)">
                    <span></span>
                    <label>Confirm Password</label>
                </div>
                <div id="error"></div>

                <div class="TandC">
                    <label><input id="checkbox" type="checkbox" required>I agree with <a href="#">Terms and Conditions</a></label>
                </div>

                <input type="submit" value="Register"> <!-- Changed type to submit -->
            </form>
        </div>
    </div>
</body>
</html>
